@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,700');

/* Global */
* {
  box-sizing: border-box;
}
body{
  color: #000000;
  margin:  0;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  background-color: #ffffff;
}
h1{
  font-size: 9em;
  font-weight: 700;
  line-height: 1.5em;
  text-transform: uppercase;
}

h6{
  font-weight: 500;
}



.hero {
	display: center;
	height: auto;
    width: auto;
	align-items: center;
}
.hero-text{
  padding: 5 ;
}

